---
import '@styles/index.css'
import Hero from "../components/Hero.astro";
import Testimonial from 'src/components/Testimonial.astro';
import Access from 'src/components/Access.astro';
import Footer from 'src/components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.png" />
      <meta name="generator" content={Astro.generator} />
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet" />
      <!-- Google Fonts end -->
      <!-- Bootstrap icons -->
      <!-- npm i bootstrap-icons -->
      <link rel="stylesheet" href="/font/bootstrap-icons.css">
      <!-- Bootstrap icons end -->

      <title>Fylo</title>
   </head>
   <body class="container mx-auto">
      <Hero/>
      <Testimonial/>
      <Access/>
      <Footer/>
   </body>
</html>
