---
---

<footer class="bg-veryDarkBlue text-white pt-16 pb-11">
   <div class="section-container">
      <div class="lg:layout ">
         <div class="text-sm mb-8 w-[105px] md:w-32 lg:w-[135px] row-start-1">
            <img src="/assets/logo-white.svg" alt="logo" />
         </div>
         <div class="space-y-4 mb-8 lg:mb-0 row-start-2">
            <p class="flex items-center">
               <span class="mr-4">
                  <img src="/assets/icon-phone.svg" alt="phone icon" />
               </span>
               Phone: +1-543-123-4567
            </p>
            <p class="flex items-center">
               <span class="mr-4">
                  <img src="/assets/icon-email.svg" alt="email icon" />
               </span>
               example@fylo.com
            </p>
         </div>
         <nav class="mb-8 lg:mb-0 row-start-2">
            <!-- space-y-4 -->
            <ul class="capitalize space-y-4">
               <li><a href="#">about us</a></li>
               <li><a href="#">jobs</a></li>
               <li><a href="#">press</a></li>
               <li><a href="#">blog</a></li>
            </ul>
         </nav>
         <nav class="mb-8 lg:mb-0 row-start-2">
            <ul class="capitalize space-y-4">
               <li><a href="#">contact us</a></li>
               <li><a href="#">terms</a></li>
               <li><a href="#">privacy</a></li>
            </ul>
         </nav>
         <div class="flex justify-center row-start-2">
            <i class="bi bi-facebook  cursor-pointer self-start w-7 lg:w-8 lg:h-8"></i>
            <i class="bi bi-twitter-x  cursor-pointer self-start w-7 lg:w-8 lg:h-8"></i>
            <i class="bi bi-instagram  cursor-pointer self-start w-7 lg:w-8 lg:h-8"></i>
      </div>
      </div>
   </div>
</footer>
