---


---

<header class="flex justify-between items-center mt-6 md:mt-10 lg:mt-16">
   <div class="w-20 md:w-32 lg:w-[166px] text-sm">
      <img src="/assets/logo.svg" alt="logo" />
   </div>
   <nav>
      <ul class=" grid grid-cols-13 gap-4 text-xs md:text-sm lg:text-base font-raleway capitalize cursor-pointer text-veryDarkBlue">
        <li><a href="#">features</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">sign in</a></li>
      </ul>
   </nav>
</header>

<!--  -->