---

---

<section id="testimonial" class="testimonial bg-mobile lg:bg-desktop bg-no-repeat bg-center bg-cover pt-[93px] pb-[82px]">
   <div class="section-container">
      <div class="lg:grid grid-cols-testimonial lg:justify-between xl:items-center">
         <div class="md:w-[450px]  xl:w-[542px]  mb-[87px] xl:mb-0 order-2">
            <img src="/assets/illustration-2.svg" alt="people holder user comments as big signs">
         </div>
         <div class="text text-center lg:text-left order-1">
            <h2 class="text-veryDarkBlue font-bold font-raleway lg:text-[40px]  mb-6">Stay productive, wherever you are</h2>
            <p class="text-desaturatedBlue text-sm lg:text-base xl:w-[529px]  mb-4">Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.</p>
            <p class="text-desaturatedBlue text-sm lg:text-base xl:w-[529px] mb-9">Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required! </p>
            <div class=" svg text-moderateCyan hover:text-emerald cursor-pointer border-b  border-moderateCyan hover:border-emerald mb-[47px] pb-1 inline-block">
               <a href="#" class="no text-xs xl:text-base">See how Fylo works
               </a>
               <i class="bi bi-arrow-right-circle-fill ml-2 text-xs "></i>
            </div>
   
            <!-- testimonial card -->
            <article class=" bg-white text-left rounded shadow card-padding grid grid-cols-14 xl:grid-cols-15 grid-rows-13 items-center w-full min-w-[280px] max-w-[356px] ">
               <img src="/assets/icon-quotes.svg" alt="quotes" class="row-start-1 mb-2 ">
               <p class="text-[11px] xl:text-[13px] leading-[18px] xl:leading-[23px] tracking-[.38px] xl:tracking-wide row-start-2 col-span-full mb-2">Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
               <img class="rounded-full w-6 xl:w-8 col-start-1 row-span-2" src="/assets/avatar-testimonial.jpg" alt="smiling guy">
               <p class="font-bold tracking-wide text-xs col-start-2 row-start-3 ">kyle burton</p>
               <p class="text-[9px] col-start-2 row-start-4">Founder & CEO, Huddle</p>
            </article>
            <!-- testimonial card end -->
         </div>
      </div>

   </div>
</section>